<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/images/icons8-leaf-64.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Nature Souvenir</title>
</head>
<body>

<div class="container">

    <div class="navigasibar">
        <a href="#" class="logo">Lesvik</a>
        <nav>
            <ul>
                <li><a href="#">Catelog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="container-icon">
            <div class="search">
                <form class="formsearch">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><img src="/static/images/icons8-search.svg"></button>
                </form>
            </div>
                <img src="/static/images/icons8-shopping-cart-96.png">
                <img src="/static/images/icons8-contacts.svg">
        </div>
    </div>


    <div class="descript-1">
        <div class="isi">
            <div class="kiri">
                <h1>Nature Souvenir Store</h1>
                <p>We have a wide range of plants collection that make you feel happy.</p><br>
                <button><a href="#">View Collections</a></button>
            </div>
            <div class="tengah">
                <img src="/static/images/utama.png">
            </div>
            <div class="kanan">
                <div class="maratus">
                    <h1>500+</h1>
                    <p>Collections</p>
                </div>
                <div class="tigaratus">
                    <h1>300+</h1>
                    <p>Plant Expert</p>
                </div>
                <div class="seket">
                    <h1>50+</h1>
                    <p>Branch</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="midel"></div> -->

    <div class="descript-2">
        <div class="kanan">
            <img src="/static/images/amjat.png">
        </div>
        <div class="middle">
            <div class="for-about">
                <p class="about">About Lesvilk</p>
                <h1>We are reputed plants store in this city.</h1>
                <p>We have a wide range of plants collection <br> that make you feel happy.</p>
                <a href="#">Learn More <span></span> </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>